table, tr, th, td {
    border: 3px solid black;
    color: black;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    padding: 5px;
    caption-side: top
  }

legend {
    font-weight:  bold;
    position:  relative;
}

caption {
  font-size:  2em;
  font-weight:  bold;
  position:  relative;
  color: black;
}

h1 {
    color: rebeccapurple;
}

a {
  font-size:  18;
}