<a href = "./">Return Home</a> 
<br>
<br>
<div>
    <table>
    <caption>Existing Gyms</caption>
        <thead>
            <tr>
                <th>Gym Name</th>
                <th>Leader</th>
                <th>Region</th>
                <th>Primary Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pewter City Gym</td>
                <td>Brock</td>
                <td>Kanto</td>
                <td>Rock</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <br>
<form>
    <fieldset>
        <legend>Add a Gym</legend>
        <label for="Add Gym">Enter Gym Name</label>
        <input type="text" id = "Add Gym">
        <br>
        <button type="button">Add</button>
    </fieldset>   
    <fieldset>
        <legend>Search by Gym Name</legend>
        <label for="Name Search">Enter Gym Name</label>
        <input type="text" id = "Name Search">
        <br>
        <button type="button">Search</button>
    </fieldset>
</form>