<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    <a href='/'><button>Return Home</button></a>{% endblock %}
</head>
<br>
<br>
<body>
    {% block body %}
    <div>
        <table>
        <caption>Gyms</caption>
            <thead>
                <tr>
                    <th>gymId</th>
                    <th>gymName</th>
                    <th>leaderName</th>
                    <th>regionId</th>
                    <th>typeId</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r[1]}}</td>
                    <td>{{r[2]}}</td>
                    <td>{{r[3]}}</td>
                    <td>{{r[4]}}</td>
                {% endfor %}
            </tbody>
        </table>
        <br>
    <form action = '' method = 'POST'>
        <fieldset>
            <legend>Add a Gym</legend>
            <label for="Add Gym">Enter Gym Name</label>
            <input type="text" id = "Add Gym" name = 'Add Gym'>
            <br>
            <label for="Add Leader">Enter Leader Name</label>
            <input type="text" id = "Add Leader" name = 'Add Leader'>
            <br>
            <label for="Pokemon Region">Region</label>
            <select name="Pokemon Region" id = "Pokemon Region">
                <option disabled selected value></option>
                {% for x in regions%}
                <option value = "{{x[0]}}">{{x[1]}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="Type">Primary Type</label>
            <select name="TypeId" id = "TypeId">
                <option disabled selected value>  </option>
                {% for y in types%}
                <option value = "{{y[0]}}">{{y[1]}}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" name = 'addButton' value = 'addButton'>Add</button>
        </fieldset>   
    </form>
    {% endblock %}
</body>
</html>