{% extends 'base.html' %}

    {% block content %}
    <br>
    <br>
    <div>
        <table>
        <caption>PokemonTypes</caption>
            <thead>
                <tr>
                    <th>pokemonTypeId</th>
                    <th>pokemonId</th>
                    <th>typeId</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r[1]}}</td>
                    <td>{{r[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <form action = 'pokemontypes.html' method = 'POST'>
        <fieldset>
            <legend>Add a new PokemonType Relationship</legend>
            <label for="pokemonId">pokemonId</label>
            <input type="number" id = "Pokedex Number" name = "Pokedex Number">
            <br>
            <label for="Type">Type</label>   <!-- code citation, blank default option https://stackoverflow.com/questions/8605516/default-select-option-as-blank -->
            <select name="TypeId" id = "TypeId">
                <option disabled selected value>  </option>
                {% for y in types%}
                <option value = "{{y[0]}}">{{y[1]}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit" name = "addNew" value = "addNew">Add</button>
        </fieldset>
    </form>
    <form action = 'pokemontypes.html' method = 'POST'>
        <fieldset>
            <legend>Delete an existing PokemonType Relationship</legend>
            <label for="PokemonType Delete">Enter the pokemonTypeId of the relationship you wish to delete</label>
            <input type="number" id = "pokemonTypeId" name = "pokemonTypeId">
            <br>
            <button type="submit" name = "delete" value = "delete">Delete</button>
        </fieldset>
    <form>
    {% endblock %}