{% extends 'base.html' %}

    {% block content %}
    <div>
        <table style = "width: 30%">
            <caption>Regions</caption>
            <thead>
                <tr>
                    <th>regionId</th>
                    <th>regionName</th>
                </tr>
            </thead>
            <tbody style = "text-align: center">
                <tbody>
                    {% for r in rows %}
                    <tr>
                        <td>{{r.0}}</td>
                        <td>{{r[1]}}</td>
                    {% endfor %}
                </tbody>
        </table>
        <br>
    <form action ='' method = 'POST'>
        <fieldset>
            <legend>Add a Region</legend>
            <label for="Add Region">Region Name</label>
            <input type="text" id = "Add Region" name = 'Add Region'>
            <br>
            <button type="submit">Add</button>
        </fieldset>  
    </form>
{% endblock %}