<a href = "./">Return Home</a>
<br>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th>Current Regions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kanto</td>
            </tr>
            <tr>
                <td>Johto</td>
            </tr>
            <tr>
                <td>Hoenn</td>
            </tr>
            <tr>
                <td>Sinnoh</td>
            </tr>
            <tr>
                <td>Unova</td>
            </tr>
            <tr>
                <td>Kalos</td>
            </tr>
            <tr>
                <td>Alola</td>
            </tr>
            <tr>
                <td>Galar</td>
            </tr>
        </tbody>
    </table>
    <br>
<form>
    <fieldset>
        <legend>Add a Region</legend>
        <label for="Add Region">Region Name</label>
        <input type="text" id = "Add Region">
        <br>
        <button type="button">Add</button>
    </fieldset>
    <br>    
    <fieldset>
        <legend>Show Gyms by Region</legend>
        <label for="Region Search">Select Region</label>
        <select name="Pokemon Region" id = "Pokemon Region">
            <option enabled selected value></option>
            <option value = "Kanto">Kanto</option>
            <option value = "Johto">Johto</option>
            <option value = "Hoenn">Hoenn</option>
            <option value = "Sinnoh">Sinnoh</option>
            <option value = "Unova">Unova</option>
            <option value = "Kalos">Kalos</option>
            <option value = "Alola">Alola</option>
            <option value = "Galar">Galar</option>
        </select>
        <label for="Gym Search">Search by Gym Name</label>
        <input type="text" id = "Gym Search">
        <br>
        <button type="button">Search</button>
    </fieldset>    
</form>