<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    <a href='/'><button>Return Home</button></a>{% endblock %}
</head>
<br>
<br>
<body>
    {% block body %}
    <div>
        <table style = "width: 30%">
            <caption>Regions</caption>
            <thead>
                <tr>
                    <th>regionId</th>
                    <th>regionName</th>
                </tr>
            </thead>
            <tbody style = "text-align: center">
                <tr>
                    <td></td>
                    <td>Kanto</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Johto</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Hoenn</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sinnoh</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Unova</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Kalos</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Alola</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Galar</td>
                </tr>
            </tbody>
        </table>
        <br>
    <form>
        <fieldset>
            <legend>Add a Region</legend>
            <label for="Add Region">Region Name</label>
            <input type="text" id = "Add Region">
            <br>
            <button type="button">Add</button>
        </fieldset>
        <br>    
        <fieldset>
            <legend>Show Gyms by Region</legend>
            <label for="Region Search">Select Region</label>
            <select name="Pokemon Region" id = "Pokemon Region">
                <option enabled selected value></option>
                <option value = "Kanto">Kanto</option>
                <option value = "Johto">Johto</option>
                <option value = "Hoenn">Hoenn</option>
                <option value = "Sinnoh">Sinnoh</option>
                <option value = "Unova">Unova</option>
                <option value = "Kalos">Kalos</option>
                <option value = "Alola">Alola</option>
                <option value = "Galar">Galar</option>
            </select>
            <label for="Gym Search">Search by Gym Name</label>
            <input type="text" id = "Gym Search">
            <br>
            <button type="button">Search</button>
        </fieldset>    
    </form>
    {% endblock %}
</body>
</html>