{% extends 'base.html' %}

    {% block content %}
    <div>
        <table style = "width: 30%">
        <caption>Types</caption>
            <thead>
                <tr>
                    <th>typeId</th>
                    <th>typeName</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r[1]}}</td>
                {% endfor %}
            </tbody>
        </table>
        <br>
<form action = '' method = 'POST'>
    <fieldset>
        <legend>Add a Type <h6>(All fields required)</h6></legend>
        <label for="Add Type">Type Name</label>
        <input type="text" id = "Add Type" name = 'please'>
        <br>
        <button type="submit" name = 'addNew' value = 'addNew'>Add</button>
    </fieldset>
</form>
<br/>

{% endblock %}