<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    <a href='/'><button>Return Home</button></a>{% endblock %}
    <br>
    <br>
</head>

<body>
    {% block body %}
    <div>
        <table style = "width: 30%">
        <caption>Types</caption>
            <thead>
                <tr>
                    <th>typeId</th>
                    <th>typeName</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r[1]}}</td>
                {% endfor %}
            </tbody>
        </table>
        <br>
<form action = '' method = 'POST'>
    <fieldset>
        <legend>Add a Type</legend>
        <label for="Add Type">Type Name</label>
        <input type="text" id = "Add Type" name = 'please'>
        <br>
        <button type="submit" name = 'addNew' value = 'addNew'>Add</button>
    </fieldset>
</form>
{% endblock %}
</body>
</html>
  