<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    <a href='/'><button>Return Home</button></a>{% endblock %}
    <br>
    <br>
</head>

<body>
    {% block body %}
    <div>
        <table style = "width: 30%">
        <caption>Types</caption>
            <thead>
                <tr>
                    <th>typeId</th>
                    <th>typeName</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Normal</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fire</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Grass</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Electric</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ice</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fighting</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Poison</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ground</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Flying</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Psychic</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bug</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Rock</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ghost</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Dark</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Dragon</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Steel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fairy</td>
                </tr>
            </tbody>
        </table>
        <br>
<form>
    <fieldset>
        <legend>Add a Type</legend>
        <label for="Add Region">Type Name</label>
        <input type="text" id = "Add Region">
        <br>
        <button type="button">Add</button>
    </fieldset>
</form>
{% endblock %}
</body>
</html>
  